<head>
 <style>
.container{
padding-top:100px;
text-align:center;
}
 
 #h{
text-align: center;
}
#d{
font-size: 25px;
}
h1{
font-size: 60px;
}
 
 </style>
</head>
<body>
<div class ="container">
<p id ="h">Ever wanted to begin/further your Website development career? Have you ever needed a website for your personal/commercial needs, but did not know how to proceed? If the answer to any of the two questions was 'Yes', you're in the right place!</p>
<h1>'INSERTNAMEHERE' is for you!</h1>
<p id="d">Get started ASAP!</p>
<button type="button">Sign up as a Developer!</button>
<button type ="button"> Sign up as a Client!</button>
<p>If you've already signed up, click <a href="">here</a> to log in</p>
</div>
</body>
